{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Attendance System{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'attendance_css/style.css' %}">
</head>
<body>

    <nav class="navbar">
        <h2>Face Recognition Attendance</h2>
        <div>
            <a href="/">Home</a>
            <a href="/register/">Register</a>
            <a href="/start/">Take Attendance</a>
            <a href="/attendance/">Records</a>
        </div>
    </nav>

    <main class="content">
        {% block content %}{% endblock %}
    </main>

</body>
</html>
